<div class="footerInner">
	<div class="noticeLine">
		<div class="footLt">
			<p class="footTit">공지사항</p>
			<p class="footDesc">내신에 자신없는 학생들에게는 어떤 수시전형이 적합할까?</p>
			<a href="#none">더보기</a>
		</div>
		<div class="footRt">
			<p class="footTit">고객센터</p>
			<div class="footPhone">
				<span class="fpTit">대입상담전화</span>
				<span class="fpNum">1600-1615</span>
			</div>
			<div class="footPhone">
				<span class="fpTit">기타문의</span>
				<span class="fpNum">02-6919-3960</span>
			</div>
		</div>
	</div>
	<div class="footCont">
		<div class="fcTop">
			<div class="fcTopLt">
				<ul>
					<li class="highLt"><a href="#none">개인정보처리방침</a></li>
					<li><a href="#none">이용약관</a></li>
					<li><a href="#none">이메일주소 무단수집 거부</a></li>
					<li><a href="#none">저작권정책</a></li>
					<li><a href="#none">제안 및 건의하기</a></li>
				</ul>
			</div>
			<div class="fcTopRt">
				<select>
					<option>관련기관</option>
					<option>관련기관</option>
					<option>관련기관</option>
					<option>관련기관</option>
				</select>
				<select>
					<option>Family Site</option>
					<option>관련기관</option>
					<option>관련기관</option>
					<option>관련기관</option>
				</select>
			</div>
		</div>
		<div class="fcBot">
			<div class="fcBotLt">
				<div class="logoThumbDesc">
					<img src="" alt="한국대학교육협회 Korean Council for University Education 로고" />
					<div>
						<p>
							(우)08504 서울특별시 금천구 서부샛길 606
							(가산동, 대성디폴리스 A동, 22~23층) 전화문의 : 02-6919-3960
							Copyright2023. KCUE all rights reserved
						</p>
					</div>
				</div>
			</div>
			<div class="fcBotRt">
				<div class="logoThumbDesc">
					<img src="" alt="한국전문대학교육협의회 Korea Council for University College Education 로고" />
					<div>
						<p>
							(우)04505 서울특별시 중구 서소문로 38 (중림동 센트럴타워 7층)
							전화문의 : 02-6919-3960 TEL : 02-3145-1200 | FAX : 02-364-1584
							Copyright2023. KCUE all rights reserved
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>