<div class="topBar">
	<div class="topBarInner">
		<ul>
			<li class="timeCnt"><p></p></li>
			<li class="extBtn"><a href="#none">연장</a></li>
			<li class="login">
				<a href="#none">로그인</a>
			</li>
			<li class="register">
				<a href="#none">회원가입</a>
			</li>
			<li class="center">
				<a href="#none">고객센터</a>
			</li>
			<li class="sitemap">
				<a href="#none">사이트맵</a>
			</li>
		</ul>
	</div>
</div>
<div class="fnBar">
	<div class="fnBarInner">
		<div class="leftSide">
			<a href="#none"><img src="" alt="메뉴펼쳐보기"></a>
			<a href="#none"><img src="" alt="어디가 로고"></a>
		</div>
		<div class="middleSide">
			<div class="searchBox">
				<input type="text" name="" title="검색어 입력 창" placeholder="검색어를 입력해주세요" />
				<a href="#none"><img src="" alt="검색 아이콘" /></a>
			</div>
		</div>
		<div class="rightSide">
			<a href="#none"><img src="" alt="지도 아이콘"></a>
			<a href="#none"><img src="" alt="알림 아이콘"></a>
			<a href="#none"><img src="" alt="프로필 아이콘"></a>
		</div>
	</div>
</div>
<div class="iconBar">
	<div class="iconBarInner">
		<ul>
			<li>
				<a href="#none">
					<img src="" alt="진로정보 아이콘" />
					<span>진로정보</span>
				</a>
			</li>
			<li>
				<a href="#none">
					<img src="" alt="대학/학과/전형 아이콘" />
					<span>대학/학과/전형</span>
				</a>
			</li>
			<li>
				<a href="#none">
					<img src="" alt="성적분석 아이콘" />
					<span>성적분석</span>
				</a>
			</li>
			<li>
				<a href="#none">
					<img src="" alt="대입상담 아이콘" />
					<span>대입상담</span>
				</a>
			</li>
			<li>
				<a href="#none">
					<img src="" alt="대입정보센터 아이콘" />
					<span>대입정보센터</span>
				</a>
			</li>
			<li>
				<a href="#none">
					<img src="" alt="마이페이지 아이콘" />
					<span>마이페이지</span>
				</a>
			</li>
			<li>
				<a href="#none">
					<img src="" alt="더보기 아이콘" />
				</a>
			</li>
		</ul>
	</div>
</div>